$primaryColor : #5fdde5;
$secondaryColor : #f4ea8e;
$thirdColor : #f37121;
$fourthColor : #d92027;
$primaryFontColor : rgb(0, 0, 0);
$secondaryFontColor : rgb(255, 255, 255);
$principalFont: 'DM Sans', sans-serif;
$fontSizePhone: 2.5em;
$fontSizeTitles: 3em;
$fontSizeSubTitles: 2em;
$fontSizeSubHeadLine: 1em;
$fontSizeText: 1em;